header {
    align-items: center;
    background-color: white;
    flex: 0 0 100%;
    height: 50px;
    justify-content: center;
}

header img {
    width: auto;
    height: auto;
    max-height: 45px;
}

.product-wrapper {
    float: none;
    margin: 3% auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.unhover-overlay-mobile {
    display: none;
}

.activated-returnable-product>.product-container .small-price-container,
.activated-returnable-product>.product-container.remain-hovered .small-price-container {
    right: 20px;
    top: 40px;
    visibility: visible;
    opacity: 1;
}

.activated-returnable-product>.product-container .product-title h4,
.activated-returnable-product>.product-container.remain-hovered .product-title h4 {
    position: relative;
    top: -5px;
    left: 90px;
    min-height: initial;
    -webkit-line-clamp: 1;
    width: calc(100% - 65px - 40px);
    text-align: left;
    float: unset;
}

.activated-returnable-product>.product-container .product-img,
.activated-returnable-product>.product-container.remain-hovered .product-img {
    z-index: 40;
    position: absolute;
    overflow: hidden;
    top: 13px;
    left: 12px;
    height: 70px;
    width: auto;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.activated-returnable-product>.product-container .product-img img,
.activated-returnable-product>.product-container.remain-hovered .product-img img {
    width: 65px;
    height: auto;
}

.activated-returnable-product>.product-container .return-causes-container,
.activated-returnable-product>.product-container .exchanges-container,
.activated-returnable-product>.product-container.remain-hovered .return-causes-container,
activated-.returnable-product>.product-container.remain-hovered .exchanges-container {
    bottom: unset;
    opacity: 1;
    visibility: visible;
    height: calc(100% - 92px);
    max-height: none;
    min-height: unset;
    overflow-x: hidden;
    overflow-y: scroll;
}

.activated-returnable-product>.product-container .return-subcauses-container,
.activated-returnable-product>.product-container.remain-hovered .return-subcauses-container {
    height: calc(100% - 92px);
}

.activated-returnable-product>.product-container .product-return-details,
.activated-returnable-product>.product-container .small-price-container,
.activated-returnable-product>.product-container.remain-hovered .product-return-details,
activated-.returnable-product>.product-container.remain-hovered .small-price-container {
    display: none;
}

.activated-returnable-product>.product-container .product-title,
.activated-returnable-product>.product-container.remain-hovered .product-title {
    padding: 0;
}

.activated-returnable-product>.product-container .product-price,
.activated-returnable-product>.product-container.remain-hovered .product-price {
    float: unset;
    position: relative;
    left: 90px;
    display: block;
}