.product-title h4 , .product-title p, .product-title span, .single-cause-text {
    line-height: 30px;
    font-family: proxima-nova,Arial,Helvetica,sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    color: var(--primary-color);
}

.return-causes-container h5 {
    color: var(--third-color);
    margin: 16px 0;
    opacity: 1;
}

.product-reason-return {
    background-color: var(--primary-color);    
    color: white;
    text-align: center;
}

.returnable-product { 
    border-radius: 10px;
}

.product-title h4, .product-title span {
    font-weight: 700;
    font-size: 16px;
}

.product-title p {
    color: var(--secondary-color);
    line-height: 20px;
    font-size: 11px;
}

.product-title .product-price {
    padding: 0;
    background: transparent;
}

.causes {
    z-index: -999;
}

.product-title {
    background-color: var(--background-color);
}

.activated-returnable-product>.product-container .product-title {
    background-color: white;
}


.selected-checkmark {
    background-color: var(--primary-color);
}

.product-wrapper.selected {
    border: 1px solid var(--primary-color);
}

.return-causes-container {
    background-color: var(--background-color);
}

.cause label i.fa {
    color: var(--primary-color);
}

.product-img {
    height: auto;
}

.activated-returnable-product>.product-container .product-price {
    left: 66px;
}